:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --light-gray: #e6e6e6;
  --background-color: #f8f9fa;
  --text-color: #212529;
  --success-color: #28a745;
  --white-color: #ffffff;
  --even-td: #bbdbdd;
  --hover-color: #bcbcbc;
}