*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}
